@import url("https://fonts.googleapis.com/css?family=Montserrat:400");
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

.primary {
  color: #4CAF50;
}

.bg-primary {
  background-color: #4CAF50;
}

.secondary {
  color: #28642a;
}

.bg-secondary {
  background-color: #28642a;
}

.light {
  color: #f3f3f3;
}

.bg-light {
  background-color: #f3f3f3;
}

.dark {
  color: #151515;
}

.bg-dark {
  background-color: #151515;
}

.info {
  color: #3498db;
}

.bg-info {
  background-color: #3498db;
}

.success {
  color: #2ecc71;
}

.bg-success {
  background-color: #2ecc71;
}

.warning {
  color: #f1c40f;
}

.bg-warning {
  background-color: #f1c40f;
}

.danger {
  color: #e74c3c;
}

.bg-danger {
  background-color: #e74c3c;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.sections {
  padding: 2rem 0 2rem 0;
}

.reviews {
  display: flex;
  justify-content: flex-start;
  padding: 2rem 0 2rem 4rem;
}
.reviews .review {
  width: 50%;
}

.timeline {
  display: flex;
  align-items: flex-start;
  padding-top: 2rem;
}
.timeline .desc > p:nth-child(3) {
  width: 80%;
  font-size: 0.85rem;
}
.timeline .desc > p,
.timeline .desc > h3 {
  padding: 0.25rem 0 0.25rem 0;
}

.band {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  display: flex;
  margin-left: 4rem;
  width: 50%;
}
.date p {
  padding-left: 1rem;
}

div.infos {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
div.infos .elements {
  padding: 0.75rem 3rem 0.75rem 3rem;
}
div.infos .para {
  padding-bottom: 10rem;
}

.loisirs {
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}

.elements {
  align-content: space-around;
}

.sidebar {
  width: 15%;
  background-color: #4CAF50;
}

.body {
  width: 80%;
  height: 100%;
}
.body h1 {
  padding-top: 4rem;
  padding-left: 4rem;
  font-size: 3rem;
}
.body h1::before {
  content: "MARVIN";
  color: #4CAF50;
}
.body .header > h3,
.body .title > h3 {
  padding-left: 4rem;
}
.body .header > h3 hr,
.body .title > h3 hr {
  width: 5%;
  border-color: #4CAF50;
}
.body .title {
  height: 13rem;
}
.body .header > h3 {
  font-size: 1.5rem;
}
.body .header > h3 > span > i {
  padding-right: 1rem;
}
.body .header > hr {
  margin-top: 1rem;
  border-color: #4CAF50;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar > img {
  border-radius: 50%;
  margin: 2rem;
  width: 150px;
  border: 2px solid red;
}

@media only screen and (max-width: 767px) {
  /* smartphone */
  .sidebar {
    width: 100%;
  }

  .body {
    width: 100%;
  }
  .body .header > h3 {
    padding-left: 0;
    text-align: center;
  }
  .body .title > h1,
.body .title > h3 {
    padding-left: 1rem;
  }

  .timeline {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .timeline .date {
    margin: 0;
    padding: 1rem 0 1rem 0;
  }
  .timeline .desc {
    margin: 0 3rem 0 3rem;
  }
  .timeline .desc > p {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline .desc > p:nth-child(3) {
    width: 100%;
    font-size: 0.85rem;
  }

  .reviews {
    flex-direction: column;
  }
  .reviews .review {
    padding: 2rem 0 2rem 0;
    width: 100%;
  }

  .avatar {
    margin: 0 auto 0 auto;
  }
}

/*# sourceMappingURL=style3.css.map */
