* {
    padding: 0;
    margin: 0;
}

$primary: #4CAF50;
$secondary: rgb(40, 100, 42);
$light: #f3f3f3;
$dark: #151515;

/* SM */
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

@for $i from 1 through 12 {
    .col-#{$i}-sm {
        grid-column: span $i;
    }
}

/* MD */
@media screen and (min-width:768px) {
    @for $i from 1 through 12 {
        .col-#{$i}-md {
            grid-column: span $i;
        }
    }
}

/* LG */
@media screen and (min-width:1280px) {
    @for $i from 1 through 12 {
        .col-#{$i}-lg {
            grid-column: span $i;
        }
    }
}

.rounded-circle {
    border-radius: 50%;
}

@for $i from 1 through 5 {
    .p-#{$i} {
        padding: ($i * 0.25rem) !important
    }

    .pt-#{$i},
    .py-#{$i} {
        padding-top: ($i * 0.25rem) !important
    }

    .pb-#{$i},
    .py-#{$i} {
        padding-bottom: ($i * 0.25rem) !important
    }

    .pl-#{$i},
    .px-#{$i} {
        padding-left: ($i * 0.25rem) !important
    }

    .pr-#{$i},
    .px-#{$i} {
        padding-right: ($i * 0.25rem) !important
    }
}

.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}