//Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:200');
//Colors
$primary : #4CAF50;
$secondary: rgb(40, 100, 42);
$dark : #151515;
$light : #f3f3f3;

//imports
@import 'mixins.scss';

//style
html,
body {
    margin: 0;
    padding: 0;
    background-color: $dark;
    font-family: Montserrat;
    color: $dark;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.container {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include mediaminwidth(567px) {
        max-width: 567px;
    }

    @include mediaminwidth(768px) {
        max-width: 768px;
    }

    @include mediaminwidth(992px) {
        max-width: 992px;
    }

    @include mediaminwidth(1200px) {
        max-width: 1200px;
    }
}

main {
    background-color: $light;
    width: 100%;

    >header {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;

        >h1::before {
            content: "Marvin ";
            color: $primary;
        }

        >h3::before {
            text-decoration: underline;
        }
    }
}

aside {
    background-color: $primary;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    >img {
        border-radius: 50%;
        width: 50%;
        border: 0.1rem solid $dark;
        order: 0;
        margin: 1rem;
    }

    >section {
        background-color: $dark;
        color: $primary;
        width: 100%;
        text-align: center;
    }
}